* {
  box-sizing: border-box;
}

body {
  font-family: $main-font-family;
  overflow-x: hidden;
  background-color: $light-beige;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font-family;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

._container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  // background-color: bisque;
  box-sizing: content-box;
}

._external-container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  // background-color: rgb(255, 208, 151);
}
