@font-face {
  font-family: 'HelveticaNeue';
  src: url('/src/assets/fonts/HelveticaNeueCyr-Roman.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('/src/assets/fonts/CormorantGaramond-Light.ttf');
  font-weight: 300;
}
