@font-face {
  font-family: 'HelveticaNeue';
  src: url('/src/assets/fonts/HelveticaNeueCyr-Roman.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('/src/assets/fonts/CormorantGaramond-Light.ttf');
  font-weight: 300;
}

.title {
  margin: 0;
  font-size: 64px;
  line-height: 62px;
  font-family: 'CormorantGaramond';
  font-weight: 300;
  text-transform: uppercase;
  @include v-lg {
    font-size: 42px;
    line-height: 40px;
  }
  @include v-md {
    font-size: 36px;
    line-height: 34px;
  }

  &_white {
    color: $light-beige;
  }
}

.heading {
  margin: 0;
  font-family: 'HelveticaNeue';
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: $dark-red;
}

.text {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: normal;

  &_white {
    color: $light-beige;
  }
}
