$main-font-family: 'HelveticaNeue';
$title-font-family: 'CormorantGaramond';

$c-main: #2d1b0d;

$black: #2d1b0d;
$dark-red: #b31719;
$light-beige: #f6f5f1;
$dark-beige: #8f7d65;
$dark-brown: #210803;
$olive-brown: #40382d;
