.button {
  padding: 0;
  width: 197px;
  height: 48px;
  border: none;
  background-color: $dark-red;
  color: $light-beige;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.5px;
  cursor: pointer;
}
